<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account</title>
    <% if(!token) { %>
    <meta http-equiv="refresh" content="0; url=/login" />
    <% } else { %>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <header>
      <div>
        <ul class="navbar">
          <div class="navbar_inline">
            <li class="navbar_item">Webshop</li>
            <a href="/"><li class="navbar_item">Home</li></a>
            <a href=""><li class="navbar_item active">Account</li></a>
            <% if(!token) { %>
            <a href="/login"><li style="float: right" class="navbar_item">Log In</li></a>
            <% } else { %>
            <a href="/logout"><li style="float: right" class="navbar_item">Log Out</li></a>
            <a href="/cart">
              <li style="float: right" class="navbar_item cart_icon">
                <span class="material-symbols-outlined"> shopping_bag </span>
                <% if(cart?.length > 0 ) { %>
                <span class="cart_badge" id="cartCount"> <%= cart?.length %> </span>
                <% } %>
              </li>
            </a>
            <% } %>
          </div>
        </ul>
      </div>
    </header>

    <div
      style="
        margin-top: 10vh;
        margin-left: 20vw;
        margin-right: 20vw;
        padding: 25px;
        background-color: lightgrey;
        border-radius: 15px;
      "
    >
      <h1>Welcome, <%= user?.name?.first + " " + user?.name?.last + "!"%></h1>

      <p>E-Mail: <%= user?.email %></p>

      <p>User-ID: <%= user?.id %></p>

      <% if(address) { %>

      <h4>Your address information:</h4>

      <p>Firstname: <%= address?.name.first %></p>
      <p>Lastname: <%= address?.name.last %></p>
      <p>Street: <%= address?.street %> Nr. <%= address?.number %></p>
      <p>Zip-code: <%= address?.zipcode %></p>
      <p>City: <%= address?.city %></p>
      <% } %>
    </div>
  </body>
  <% } %>
</html>
