<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Webshop</title>
    <link rel="stylesheet" type="text/css" href="../css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>

  <body style="display: flex; flex-flow: column; height: 100%">
    <header>
      <div>
        <ul class="navbar">
          <div class="navbar_inline">
            <li class="navbar_item">Webshop</li>
            <a href=""><li class="navbar_item active">Home</li></a>
            <a href="/account"><li class="navbar_item">Account</li></a>
            <% if(token == null) { %>
            <a href="/login"><li style="float: right" class="navbar_item">Log In</li></a>
            <% } else { %>
            <a href="/logout"><li style="float: right" class="navbar_item">Log Out</li></a>
            <a href="/cart">
              <li style="float: right" class="navbar_item cart_icon">
                <span class="material-symbols-outlined"> shopping_bag </span>
                <% if(cart?.length > 0 ) { %>
                <span class="cart_badge" id="cartCount"> <%= cart?.length %> </span>
                <% } %>
              </li>
            </a>
            <% } %>
          </div>
        </ul>
      </div>
    </header>

    <div class="items_container">
      <ul id="items_list">
        <% for(let i = 0; i < products.length; i++) { %>
        <li>
          <div class="item_box" id="<%= i %>" onclick="window.location='/item/<%= products[i].id %>';">
            <h3 class="item_title"><%= products[i].name %></h3>
            <div class="item_image_container">
              <img class="item_image" src="<%= products[i].image_url %>" />
            </div>
            <!-- <p class="item_description"><%# products[i].description %></p> -->
            <h4 class="item_price"><%= products[i].price %> €</h4>
          </div>
        </li>
        <% } %>
      </ul>
    </div>
    <footer></footer>
  </body>

  <script src="/helpers/cookieHelper.js"></script>
</html>
